<header class="site-header">
  <div class="container">
    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <nav>
      <ul>
        <li><a href="#problem">Problem</a></li>
        <li><a href="#performance">Results</a></li>
        <li><a href="#methodology">Methodology</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="https://github.com/sweksha-cloud/financial-transaction-fraud-detection" target="_blank">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>
